*{
  margin: 0;
  padding: 0;
}
body{
  font-family: tahoma;
}
.row{
  max-width: 1140px;
  margin: 0,auto;
}
.hero{
position: absolute;
width: 1140px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
header{
  background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(food.jpeg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
h1{
  color: white;
}
.main-nav{
  list-style: none;
  float: right;
  margin-top: 60px;

}
.main-nav li{
display: inline-block;
margin-left: 20px;
}
.main-nav li a{
  color: white;
  text-decoration: none;
  font-size: 90%;
  font-weight: bold;
}
.main-nav li a:hover{
  color: #e67e22;
  border-bottom: 2px solid #e67e22;
  transition: all 0.5s ease-in;
  padding-bottom: 20px, 0;

}
.btn{
  border: 2px solid #e67e22;
  padding: 10px 10px;
  margin-right: 20px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
}
.button-aws{
margin-top: 50px;

}
.btn-half{
  background-color: #e67e22;


}
.btn-full:hover{
  background-color: #e67e22;
  transition: all 0.5s ease-in;

}
.copy{
  width: 70%;
  margin-left: 15%;
}
.feature h3{
  margin-top: 60px;
  margin-bottom: 30px;
}
